<div ng-controller="ReviewDetail">
    <h1>{{entity.CurrentPlace.Name}}</h1>
    <div class="pageContainer">
        <h2>{{entity.CurrentPlace.Address}}</h2>
        <h4>{{entity.IdentifierList}}</h4>
        <h5>{{entity.DateCreatedStr}}</h5>
        <div ng-repeat="question in entity.Questions" class="questionHold">
            <h3>{{question.Text}}</h3>
            <ul class="tagList">
                <li ng-repeat="item in question.Descriptors" class="descriptor">
                    {{item.Name}}
                </li>
            </ul>
        </div>
        <div ng-if="entity.Additional != null && entity.Additional != ''" class="questionHold">
            <h3>{{customStrings['ReviewFinish-Additional']}}</h3>
            <p>{{entity.Additional}}</p>
        </div>
    </div>
    <a class="btn-default" ui-sref="Review">{{customStrings['Review-StartNew']}}</a>
</div>
