<div ng-controller="ReviewSubmit">
    <div ng-if="view == 'review'">
        <h1>Review {{place.Name}}</h1>
        <div ng-if="question != null && question.QuestionID > 0" class="questionHold">
            <form ng-submit="Submit()">
                <div class="question">
                    {{question.Text}}
                </div>
                <ul class="tagList">
                    <li ng-repeat="item in question.Descriptors">
                        <div class="descriptor" ng-click="Select(item)" ng-class="{'selected': item.Selected == true}">{{item.Name}}</div>
                    </li>
                </ul>
                <textarea placeholder="Additional Details (optional)" ng-model="question.Detail"></textarea>
                <ul ng-if="question.Detail != null && question.Detail != '' && !review.Reported" class="tagList">
                    <li>
                        <div class="descriptor" ng-click="Report()" ng-class="{'selected': review.Report == true}">Report Experience to {{place.City.ReportName}}</div>
                    </li>
                </ul>
                <input type="submit" class="btn btn-default" value="Next" />
            </form>
        </div>
        <div ng-if="question == null">
            Don't have a question yet.
        </div>
    </div>
    <div ng-if="view == 'thanks'">
        <h1>Thanks!</h1>
        <p>Thanks for sharing your experience. The more we share, the better experiences everyone will have!</p>
    </div>
</div>