<div ng-controller="ReviewSummary">
    <div ng-if="entity != null && entity.Name != null">
        <h1>Reviews of {{entity.Name}}</h1>
        <p ng-if="entity.Description != null && entity.Description != ''">{{entity.Description}}</p>
        <h2>Show Reviews From</h2>
        <ul class="tagList">
            <li ng-repeat="item in entity.UserDescriptors" class="descriptor" ng-click="Select(item)" ng-class="{'selected': item.Selected == true}">
                {{item.Name}}
            </li>
        </ul>
        <p>Note: if no filters are selected, by default all reviews are shown.</p>
        <p>{{entity.Reviews.length}} reviews found.</p>
        <div ng-repeat="question in entity.Questions" class="questionHold">
            <h2>{{question.Text}}</h2>
            <ul class="tagList resizable">
                <li ng-repeat="item in question.Descriptors" class="descriptor" ng-style="{'font-size': item.NumPct + '%'}">
                    {{item.Name}}
                </li>
            </ul>
            <p ng-repeat="detail in question.Details">
                {{detail}}
            </p>
        </div>
        <p ng-repeat="review in entity.Reviews">
            <a ng-click="LoadReview(review)">{{review.DateCreatedStr}} Review</a>
        </p>
    </div>
</div>