<div ng-controller="CommonHeader" class="navbar navbar-inverse navbar-fixed-top" id="header" ng-class="{'hide': current == 'Home'}">
    <div class="container">
        <div class="logoContainer">
            <a class="logo" ui-sref="Home">{{customStrings['Header-Decipher']}}</a>
            <div class="city">{{customStrings['Header-Austin']}}</div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="ToggleNav()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" ng-class="{'collapse': showNav == false}">
            <ul class="nav navbar-nav">
                <li>
                    <select ng-options="l.LanguageID as l.Name for l in languages" ng-model="user.Language" ng-change="ChangeLanguage()"></select>
                </li>
                <li ng-class="{'current': current == 'Identify'}"><a ng-click="LoadState('Identify')">{{customStrings['Header-Identify']}}</a></li>
                <li ng-class="{'current': current == 'Find'}"><a ng-click="LoadState('Find')">{{customStrings['Header-Find']}}</a></li>
                <li ng-class="{'current': current == 'Data'}"><a ng-click="LoadState('Data')">{{customStrings['Header-Data']}}</a></li>
                <li ng-repeat="page in pages" ng-class="{'current': current == 'Page' + page.PageID}">
                    <a ng-click="LoadPage(page.PageID)">{{page.Title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>