<h1>About the App</h1>
<p>Because Austin is trying to live up to its liberal reputation, citizens need more information about how to make it a more open space for people regardless of backgrounds.  Go anywhere in Austin for any reason, and answer a few short questions about your experience. This information gets fed into a server that records the location and the experience in the area surrounding the location. If more information can be provided about the experience, users can write a report that gets sent directly to the Equity Office.</p>

<p>Because getting to scheduled meetings with particular staff is important, the City of Austin can have more information about how business placement affects its citizens and which spaces send the wrong message. With this app, anyone can provide a report about any type of experience to the Equity Office so that the City can take actions if such is necessary.</p>

<p><em>Please note that the diversity is calculated based on 2010 Census information. Currently, the City of Austin is still looking for methods to effectively calculate the population so that accurate diversity information is available.</em></p>