<h1>Intro</h1>
<p>“Silence is the residue of fear.” -- Clint Smith</p>

<p>“Everyone I see loves Austin.” “How could anyone not have a blast in Austin?” On one hand, whenever people think of Austin, they think of fun: live music, good restaurants, exercising in a beautiful setting, and of course, many crafted beverages. On the other hand, there are people employed in the city who cannot afford to live there, people are criminalized for their lack of economic security, and almost everyone is segregated according to both race and class.</p>

<p>What happens when we leave the areas to which we are assigned? How do we interact? Do we interact? Are we comfortable or fearful? Is this fear justified? How much segregation is based on culture, and how much is based on discomfort with the unknown?</p>

<p>Take this app and explore your city. Go where you are familiar and where you are a visitor. Say a little or say a lot. Introduce the City of Austin to what you think when you traverse it. The city will then use your anonymous data to shape a land-use code indicative of all of Austin, rather than the few who are consistently granted agency based on previous patterns.</p>

<p>Learn Austin. Know Austin.</p>

