<div ng-controller="FindIndex">
    <div ng-if="view == 'search'">
        <h1>{{customStrings['FindTitle']}}</h1>
        
        <form ng-submit="Search()">
            <div class="categoryItem">
                <div ng-if="searchView == 'additional'">
                    <div class="label">
                        {{customStrings['FindLabelAddress']}}
                    </div>
                    <div class="field">
                        <input type="text" ng-model="search.Address" ng-blur="ApplyLocation()" />
                    </div>
                </div>
                <div class="field">
                    <div class="descriptor" ng-click="UseCurrentLocation()" ng-class="{'selected': search.CurrentLocation == true}">{{customStrings['FindCurrentLocation']}}</div>
                </div>
            </div>
            <div class="categoryItem">
                <div class="label">
                    {{customStrings['FindLabelType']}}
                </div>
                <div class="field">
                    <select ng-options="t.Value as t.Text for t in lists.Types" ng-model="search.TypeID"></select>
                </div>
            </div>
            <div ng-if="searchView == 'additional'">
                <div class="categoryItem">
                    <div class="label">
                        {{customStrings['FindLabelKeyword']}}
                    </div>
                    <div class="field">
                        <input type="text" ng-model="search.Keyword" placeholder="example: coffee" />
                    </div>
                </div>
                <div class="categoryItem">
                    <div class="label">
                        {{customStrings['FindLabelDiversity']}}
                    </div>
                    <div class="field">
                        <select ng-options="t.Value as t.Text for t in lists.Diversity" ng-model="search.Diversity"></select>
                    </div>
                </div>
            </div>
            <div class="categoryItem">
                <div class="field">
                    <div class="descriptor" ng-click="ToggleSearchView()" ng-class="{'selected': searchView == 'additional'}">{{customStrings['FindAdditionalFilters']}}</div>
                </div>
            </div>
            <div class="categoryItem">                
                <div class="field">
                    <input type="submit" class="btn btn-default" value="{{customStrings['FindButton']}}" />
                </div>
            </div>
        </form>
    </div>
    <div ng-if="view == 'results'">
        <h1>{{customStrings['FindResultsTitle']}}</h1>
        <p ng-if="result.Response == 'No Results' || result.NumResults == 0">{{customStrings['FindNoResults']}}</p>
        <p ng-if="result.Response == 'Error'">{{customStrings['FindError']}}</p>
        <p ng-if="result.Response == 'No City'">{{customStrings['FindNoCity']}}</p>
        <ul class="tagList">
            <li class="descriptor" ng-class="{'selected': resultView == 'list'}" ng-click="ViewResults('list')">{{customStrings['FindTabList']}}</li>
            <li class="descriptor" ng-class="{'selected': resultView == 'map'}" ng-click="ViewResults('map')">{{customStrings['FindTabMap']}}</li>
        </ul>
        <ul ng-if="result.NumResults > 0 && resultView == 'list'" class="findResults">
            <li ng-repeat="place in result.Results">
                <div class="name">{{place.Name}}</div>
                <div class="types">{{place.TypeStr}}</div>
                <div class="diversity">{{place.DefaultZip.DiversityStr}} {{customStrings['FindResultsDiversity']}}</div>
                <div class="distance">{{place.DistanceStr}} {{customStrings['FindResultsDistance']}}</div>
                <a class="reviewBtn" ng-click="LoadReview(place)">{{customStrings['FindSubmitReview']}}</a>
                <a class="reviewBtn alt" ng-click="LoadSummary(place)">{{customStrings['FindSeeReviews']}} <span ng-if="place.AvgScore != null">({{place.AvgScoreStr}})</span></a>
            </li>
        </ul>
        <div ng-if="result.NumResults > 0 && resultView == 'map'" class="mapContainer">
            <div id="map_canvas">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-markers models="markers" coords="'coords'" click="onClick">
                        <ui-gmap-windows show="show">
                            <div class="mapWindow" ng-non-bindable>
                                <div style="font-weight: bold">{{place.Name}}</div>
                                <div style="font-style: italic;">{{place.TypeStr}}</div>
                                <div>{{place.DefaultZip.DiversityStr}} {{customStrings['FindResultsDiversity']}}</div>
                                <div>{{place.DistanceStr}} {{customStrings['FindResultsDistance']}}</div>
                                <a style="padding: 5px; background-color: lightgray; border-radius: 10px; cursor: pointer; margin-top: 5px; display: table;" onclick="StartReview('{{id}}')">{{customStrings['FindSubmitReview']}}</a>
                                <a style="padding: 5px; background-color: lightgray; border-radius: 10px; cursor: pointer; margin-top: 5px; display: table;" onclick="SeeReviews('{{id}}')">{{customStrings['FindSeeReviews']}}</a>
                            </div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </div>
        <a ng-if="result.NextToken != null && result.NextToken != ''" class="btn btn-default" ng-click="MoreResults(result.NextToken)">{{customStrings['FindMoreResults']}}</a>
        <a class="btn btn-default" ng-click="SetView('search')">{{customStrings['FindSearchAgain']}}</a>
    </div>
</div>